.customers {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    border-collapse: collapse;
}
.customers td, .customers th {
    border: 1px solid #ddd;
    padding: 8px;
}
.customers th {
    background-color: green;
    color: white;
    padding-top: 12px;
    padding-top: 12px;
    text-align: left;
}
.customers tr:nth-child(even) {
    background-color: rgba(224, 229, 233, 0.616);
}
.customers tr:hover {
    background-color:rgba(198, 208, 216, 0.61);
}