* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
body {
    font-family: sans-serif;
    font-size: 1.5rem;
    min-height: 200vh;
}
.outer-container {
border: 3px dashed black;
width: 75vw;
height: 85vw;
margin: 40px auto;
}
.inner-container {
    border: 2px dashed black;
    width: 40vw;
    height: 50vw;
    margin: 200px auto;
    }
   .box {
        width: 150px;
        height: 150px;
     color: white;
     padding: 1rem;
        }
        .absolute {
            background-color: red;
        }

        html { scroll-behavior: smooth;}
        section {
            height: 100vh;
        }
        .blue {background-color: blue;}
        .red {background-color: red;}
        .green {background-color: green;}

        header, footer {
            color: white;
            text-align: center;
            height: 100px;
            font-size: 50px;
        }
            header {
            position: sticky;
            top: 0px;
        } 
        footer {
            background-color: black;
            position: sticky;
            bottom: 40px;
            text-align: center;
            font-size: 80px;
        }
        .social {
            font-size: inherit;
            background-color: yellow;
            color: brown;
            position: fixed;
            top: 20%;
            left: 10%;
            z-index: 1;
            padding: 2rem;
        }
    